
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h1 {
    margin: 15 auto;
    text-align: center;
  }
  
  .burgers {
    float: left;
  }
  
  .devoured {
    float: right;
  }
  
  .adder {
    padding-top: 50px;
    text-align: center;
    margin: 0, auto;
    clear: both;
  }